/* @override http://domo.lo.lo/static/global/css/main.css */

/* @group Layout
------------------------------------------- */
body { 
	padding-top: 70px;
	background: #eee;
}
html, body {
	height: 100%;
}
#lay_page{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -65px;
}
#lay_content{
	padding-bottom: 30px;
}
#lay_push{
	height: 65px;
}

/* @group Header
------------------------------------------- */
#lay_header .navbar-brand{
	opacity: 0.4;
}
#lay_header .menu_admin A{
	padding: 9px;
}
#lay_header .menu_admin IMG{
	height: 32px;
}
/* @end */


/* @group Footer
------------------------------------------- */
#lay_footer{
	text-align: center;
	border-top: 1px solid rgba(0,0,0, 0.8);
	background: #000;
	padding: 10px 5px;
background: rgb(0,0,0);
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(43,43,43,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(43,43,43,1) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(43,43,43,1) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(43,43,43,1) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(43,43,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2b2b2b',GradientType=0 );

}
#lay_footer .menu_foot{
	margin: 0 0  10px 0;
	padding: 0;
}
#lay_footer .menu_foot A{
	color: #44F;
}
#lay_footer .menu_foot LI{
	display: inline-block;
	margin: 0 10px;
	list-style: none;
	font-size: 13px;
}
#lay_footer .copyright{
	font-size: 11px;
	color: #666;
}
#lay_footer .copyright A{
	color: #666;
	text-decoration: underline;	
}
/* @end */
/* @end */




#body_home .popover{
	max-width: 600px;
	width: auto;
	background: #ddd;
}
#body_home .popover .arrow{
	display: none;
}
#body_home .popover-title{
	padding: 4px;
	text-align: center;
}
#body_home .popover-content {
	white-space: nowrap;
	padding: 18px 15px;
}
#body_home .popover .legend{
	font-size: 10px;
	margin: 0 5px;
	color: #666;
}
#body_home .slider-horizontal{
	width: 400px !important;
}


/* @group Buttons
------------------------------------------- */
.button_group{
	margin: 4px;
}
.button_big{
	line-height: 36px ;
	padding: 6px 12px 6px 6px;
	margin: 0;
}
.button_dim{
	padding: 13px 14px 12px 14px;
	
}
.button_big .but_img{
	display: inline-block;
	padding: 2px;
	border: 1px solid #FFF;
	background: rgba(255,255,255,0.2);
	vertical-align: bottom;
	margin-right: 10px;
	border-color: rgba(0,0,0,0.3) rgba(255,255,255,0.2) rgba(255,255,255,0.2) rgba(0,0,0,0.3);
	border-radius: 4px;
}
.button_big .but_img IMG{
	height: 30px;	
}

/* @end */

/* @group Page Home
------------------------------------------- */
#body_home .groups .panel-body{
}
.groups .sensors .sensor{
	color: #AAA;	
}
.groups .sensors .sensor B{
	color: #666;
	margin-right: 2px;
}
.groups .sensors .sensor IMG{
	height: 20px;
	margin-left: 15px;
	margin-right: 2px;
	opacity: 0.6;
}


/* @group Blocks
------------------------------------------- */
.block_right TABLE{
	width: 100%;
}
.block_right TABLE TD{
	border-bottom: 1px solid #eee;
	padding: 4px 0;
}
.block_right TABLE TR:last-child TD{
	border-bottom: none;
}
.block_right TABLE .td_icon{
	padding-left: 10px;
}
.block_right TABLE .td_icon IMG{
	height: 24px;
}
.block_right TABLE .td_name{
	padding-left: 6px;
	padding-right: 10px;
	font-size: 13px;
	width: 80%;	
}
.block_right TABLE .td_value{
	text-align: right;
	font-weight: bold;
	padding-right: 4px;
	font-size: 115%;
	white-space: nowrap;
}
.block_right TABLE .td_unit{
	padding-right: 10px;
	color: #555;
	font-size: 10px;
	white-space: nowrap;
}

#block_calendar .td_value{
	padding-right: 10px;
}

/* @end */
/* @end */




/* @group Page Devices
------------------------------------------- */
.div_devices .popover{
	max-width: 600px;
	width: auto;
}
.div_devices .popover-content PRE{
	font-size: 9px;	
}
.div_devices{
	text-align: center;
}
.div_devices_border{
	background: #FFF;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: -1px -1px 1px rgba(100,100,100,0.1);
	margin: auto;
}
.table_devices{
	width: auto;
	margin-bottom: 0;
}
.table_devices TD{
	text-align: left;
}
.table_devices TR:first-child TD{
	border: none;
}
.table_devices .td_img{
	
}
.table_devices .td_img img{
	height: 30px;
	width: 30px;
	margin-right: 10px;
}
.table_devices .td_type I{
	font-size: 11px ;
	font-style: normal;
	color: #AAA;
}
.table_devices .td_name{
	font-weight: bold;
}
.table_devices .td_id{
	font-size: 11px;
}
.table_devices .td_value{
	text-align: right;
	font-weight: bold;
}
.table_devices .td_value .mini{
	font-size: 10px;
	font-weight: normal;
	margin-top: 1px;
	margin-right: 3px;
}
.table_devices .td_value img{
	height: 20px;
}
.table_devices .td_value A{
	color: #444;
}
.table_devices .td_unit{
	padding-left: 0 ;
	color: #555;
}
/* @end */


/* @group Page Cameras
------------------------------------------- */
#body_cameras #div_cameras{
	overflow: hidden;
	text-align: center;
}
#body_cameras .camera{
	overflow: hidden;
	text-align: center;
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px;
}
#body_cameras .camera .panel-heading{
	margin-bottom: 0;
}
#body_cameras .camera .panel-body-full{
	padding: 2px;
}
#body_cameras .iframe_border{
	margin: 1px;
	border: 1px solid #bbb;
	background: #444;
}
#body_cameras iframe{
	border: 0;
	margin: 0;
	padding: 0;
	top:  0px;
}
/* @end */

/* @group Page Update
------------------------------------------- */
#body_utils_update .panel-body{
	font-size: 13px;
	padding-bottom: 40px;
}
#body_utils_update .panel-body H3{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #666;
	padding: 6px;
	font-size: 16px;
	color: #FFF;
}
#body_utils_update .panel-body H3:first-child{
	margin-top: 0;
}
#body_utils_update .centered{
	text-align: center;
}

#body_utils_update .changelog{
	padding: 0;
	margin: 0 0 20px 0;
}
#body_utils_update .changelog UL{
	padding: 0 0 10px 15px;
}
#body_utils_update .changelog H5{
	font-size: 13px;
	font-weight: bold;
}
#body_utils_update .changelog H5 I{
	color: #AAA;
	font-style: normal;
	font-weight: normal;
}
#body_utils_update .changelog LI{
	font-size: 12px;
	list-style: none;
	padding: 0 0 3px 0;
	margin: 0;
	line-height: 130%;
	color: #000;
}
#body_utils_update .changelog LI .fa{
	margin-right: 3px;
}
#body_utils_update .changelog LI.dev{
	color: #668;	
}
#body_utils_update .changelog LI.new .fa{
	color: #0A0;
}
#body_utils_update .changelog LI.fix .fa{
	color: #E00;
}
#body_utils_update .changelog LI.dev .fa{
	color: #00F;
}
#body_utils_update .mess{
	padding: 10px 0 20px 0;
	font-size: 16px;
}
#body_utils_update .mess_success{
	color: #000;
	font-weight: bold;
}
#body_utils_update .dl_install{
	padding: 8px 0 0 10px;
}
#body_utils_update .dl_install LI{
	list-style: none;
	padding-bottom: 18px;
	line-height: 140%;
}
#body_utils_update .dl_install LI I{
	color: #888;
}
#body_utils_update .dl_install CODE{
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
}

/* @end */

