/* @override 
	http://domo.lo.lo/static/global/css/main.css
	http://domodev.lo.lo/static/global/css/main.css
	http://domodev.dev.440net.net/static/global/css/main.css
*/

/* @group Bootstrap Add.
-------------------------------------- */

.navbar-inverse{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
  border-bottom: 1px solid #444;
}

.navbar-collapse{
	padding-left: 0;
}
.navbar-nav > li:first-child{
  border-left: 1px solid rgba(0, 0, 0, 0.2);	
}
.navbar-nav > li:first-child A{
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.navbar-nav > li > a {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-nav > li:last-child{
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-inverse .navbar-nav.navbar-right > LI,
.navbar-inverse .navbar-nav.navbar-right >LI > A{
	border-left: none !important;
	border-right: none;
}

.navbar-inverse .navbar-nav.navbar-right > li > a:hover {
  border-left-color: transparent;
  background-color: transparent;
  opacity: 0.7;
}
.navbar-inverse .navbar-nav > li.active > a {
  border-left-color: transparent;
  background-color: rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover{
  background-color: rgba(0,0,0,0.1);	
}
.navbar-inverse .nav .open > a {
  border-color: transparent;
}

/* @end */




/* @group Layout
------------------------------------------- */
body { 
	padding-top: 70px;
	background: #eee;
}

html, body {
	height: 100%;
}
#lay_page{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -65px;
}
#lay_content{
	padding-bottom: 30px;
}
#lay_push{
	height: 65px;
}

/* @group Header
------------------------------------------- */
#lay_header .navbar-brand{
	opacity: 0.4;
}
#lay_header A{
	white-space: nowrap;
}
#lay_header .menu_admin A{
	padding: 9px;
}
#lay_header .menu_admin IMG{
	height: 32px;
}
/* @end */


/* @group Footer
------------------------------------------- */
#lay_footer{
	height: 65px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0, 0.8);
	background: #000;
	padding: 0 5px;
  background-image: -webkit-linear-gradient(#313539,#3a3f44);
  background-image: linear-gradient(#313539,#3a3f44);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff313539', endColorstr='#ff3a3f44', GradientType=0);
  filter: none;
}
#lay_footer .menu_foot{
	margin: 8px 0  10px 0;
	padding: 0;
}
#lay_footer .menu_foot A{
	color: #77F;
	opacity: 0.7;
}
#lay_footer .menu_foot A:hover{
	opacity: 1;
	text-decoration: none;
}
#lay_footer .menu_foot LI{
	display: inline-block;
	margin: 0 10px;
	list-style: none;
	font-size: 13px;
}
#lay_footer .copyright{
	font-size: 11px;
	color: #777;
}
#lay_footer .copyright A{
	color: #666;
	text-decoration: underline;	
}
#lay_footer .foot_demo{
	background: red;
	display: inline-block;
	margin: 0 5px;
	color: #FFF;
	margin-left: 10px;
	padding: 1px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
/* @end */
/* @end */




#body_home .popover{
	max-width: 600px;
	width: auto;
	background: #ddd;
}
#body_home .popover .arrow{
	display: none;
}
#body_home .popover-title{
	padding: 4px;
	text-align: center;
}
#body_home .popover-content {
	white-space: nowrap;
	padding: 18px 15px;
}
#body_home .popover .legend{
	font-size: 10px;
	margin: 0 5px;
	color: #666;
}
#body_home .slider-horizontal{
	width: 400px !important;
}


/* @group Buttons
------------------------------------------- */
.button_group{
	margin: 0 10px 10px 0;
}
.button_group .btn-lg{
	padding: 12px 11px;
}
.button_group .button_big{
	padding-left: 55px;
}
.button_dim{
	min-width: 52px;
	color: #CCC;
}
.button_blinds{
	min-width: 50px;
	color: #CCC;
}
.button_blinds U{
	opacity: 0;
}
.button_blinds I{
	opacity: 1.0;
}

.button_big .but_img{
	display: inline-block;
	padding: 2px;
	border: 1px solid #FFF;
	background: rgba(255,255,255,0.2);
	vertical-align: bottom;
	border-color: rgba(0,0,0,0.3) rgba(255,255,255,0.2) rgba(255,255,255,0.2) rgba(0,0,0,0.3);
	border-radius: 4px;
	position: absolute;
	margin-top: -7px;
	margin-left: -45px;
}
.button_big .but_img IMG{
	height: 30px;	
}

/* @end */

/* @group Page Home
------------------------------------------- */

.pmd_panel .panel-heading{
	padding: 5px 10px;
	font-size: 13px;
}
.pmd_panel .panel-heading I{
	opacity: 0.4;
	margin-right: 4px;
}

.pmd_panel .panel-body{
	padding: 10px 0 0 10px;
}
.pmd_panel .sensor{
	color: #AAA;
}
.pmd_panel .sensor B{
	color: #666;
	margin-right: 2px;
	margin-left: 4px;
}
.pmd_panel .sensor IMG{
	height: 16px;
	margin-left: 15px;
	margin-right: 2px;
	opacity: 0.6;
	vertical-align: text-bottom;
}

/* @group Blocks
------------------------------------------- */

.block_right TABLE{
	width: 100%;
}
.block_right TABLE TD{
	border-bottom: 1px solid #eee;
	padding: 4px 0;
}
.block_right TABLE TR:last-child TD{
	border-bottom: none;
}
.block_right TABLE .td_icon{
	padding-left: 6px;
}
.block_right TABLE .td_icon IMG{
	height: 20px;
}
.block_right TABLE .td_name{
	padding-left: 6px;
	padding-right: 10px;
	font-size: 12px;
	width: 80%;	
}
.block_right TABLE .td_value{
	text-align: right;
	padding-right: 4px;
	font-size: 14px;
	/*white-space: nowrap;*/
	font-weight: bold;
	color: #333;
}
.block_right TABLE .td_unit{
	padding-right: 6px;
	color: #555;
	font-size: 10px;
	white-space: nowrap;
}

#block_calendar .td_value{
	padding-right: 10px;
	font-weight: normal;
	color: #333;
}
#block_links TABLE{
	margin: 4px 0;
}
#block_links TD{
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
}
#block_links TD A{
	width: 100%;
	text-align: left;
}
#block_links TD I{
	margin-right: 3px;
}

/* @end */
/* @end */

/* @group Page Debug
------------------------------------------- */
#body_debug .h1{
	color: #444;
	margin-bottom: 10px;
	font-size: 20px;
	text-align: right;
}
#body_debug {
	background-color: #aaa;
}
#body_debug .div_debug{
	border: 1px solid #555;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
#body_debug H5{
	background-color: #666;
	margin: 0;
	color: yellow;
	font-weight: normal;
	padding: 10px;
}
#body_debug .backtrace{
	float: right;
	display: inline-block;
	font-size: 11px;
	line-height: 150%;
	background: #333;
	color: #bbb;
	padding: 10px;
	font-family: Monaco, Courier, mono;
	margin: 0 0 10px 10px;
}
#body_debug PRE{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	font-size: 9px;	
	border: none;
	margin: 0;
}
/* @end */


/* @group Page Error
------------------------------------------- */
#body_error .h1{
	color: #F00;
	margin-bottom: 20px;
	font-size: 46px;
}
#body_error .well{
	text-align: center;
	padding: 30px 20px;
	border: 3px solid #F00;
	background: #fefcaf;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
#body_error .well I{
	color: #F00;
	font-size: 36px;
	vertical-align: middle;
	margin-right: 15px;
}
/* @end */


/* @group Page Devices
------------------------------------------- */
.div_devices .popover{
	max-width: 600px;
	width: auto;
}
.div_devices .popover-content PRE{
	font-size: 9px;	
}
.div_devices{
	text-align: center;
}
.div_devices_border{
	background: #FFF;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: -1px -1px 1px rgba(100,100,100,0.1);
	-moz-box-shadow: -1px -1px 1px rgba(100,100,100,0.1);
	-webkit-box-shadow: -1px -1px 1px rgba(100,100,100,0.1);
	margin: auto;
}
.table_devices{
	width: auto;
	margin-bottom: 0;
}
.table_devices TD{
	text-align: left;
}
.table_devices TR:first-child TD{
	border: none;
}
.table_devices .td_img{
	
}
.table_devices .td_img img{
	height: 30px;
	width: 30px;
	margin-right: 10px;
}
.table_devices .td_type I{
	font-size: 11px ;
	font-style: normal;
	color: #AAA;
}
.table_devices .td_name{
	font-weight: bold;
}
.table_devices .td_id{
	font-size: 11px;
}
.table_devices .td_value{
	text-align: right;
	font-weight: bold;
}
.table_devices .td_value .mini{
	font-size: 10px;
	font-weight: normal;
	margin-top: 1px;
	margin-right: 3px;
}
.table_devices .td_value img{
	height: 20px;
}
.table_devices .td_value A{
	color: #444;
}
.table_devices .td_unit{
	padding-left: 0 ;
	color: #555;
}
/* @end */


/* @group Page Cameras
------------------------------------------- */
#body_cameras #div_cameras{
	overflow: hidden;
	text-align: center;
}
#body_cameras .camera{
	overflow: hidden;
	text-align: center;
	display: inline-block;
	margin: 0 5px 5px 5px;
}
#body_cameras .camera_full{
	margin: 0;
}
#body_cameras .buttons{
	margin-top: 10px;
}
#body_cameras .camera .panel-heading{
	margin-bottom: 0;
	padding: 3px 5px;
	font-size: 13px;
}
#body_cameras .camera .panel-heading I{
	opacity: 0.5;
	margin-right: 3px;
}
#body_cameras .camera .panel-body-full{
	padding: 2px;
}
#body_cameras .iframe_border{
	margin: 1px;
	border: 1px solid #bbb;
	background: #444;
}
#body_cameras iframe{
	border: 0;
	margin: 0;
	padding: 0;
	top:  0px;
}
/* @end */

/* @group Page Update
------------------------------------------- */
#body_utils_update .panel-body{
	font-size: 13px;
	padding-bottom: 40px;
}
#body_utils_update .panel-body H3{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #666;
	padding: 6px;
	font-size: 16px;
	color: #FFF;
}
#body_utils_update .panel-body H3:first-child{
	margin-top: 0;
}
#body_utils_update .centered{
	text-align: center;
}

#body_utils_update .changelog{
	padding: 0;
	margin: 0 0 20px 0;
}
#body_utils_update .changelog UL{
	padding: 0 0 10px 15px;
}
#body_utils_update .changelog H5{
	font-size: 13px;
	font-weight: bold;
}
#body_utils_update .changelog H5 I{
	color: #AAA;
	font-style: normal;
	font-weight: normal;
}
#body_utils_update .changelog LI{
	font-size: 12px;
	list-style: none;
	padding: 0 0 3px 0;
	margin: 0;
	line-height: 130%;
	color: #000;
}
#body_utils_update .changelog LI .fa{
	margin-right: 3px;
}
#body_utils_update .changelog LI.dev{
	color: #668;	
}
#body_utils_update .changelog LI.new .fa{
	color: #0A0;
}
#body_utils_update .changelog LI.fix .fa{
	color: #E00;
}
#body_utils_update .changelog LI.dev .fa{
	color: #00F;
}
#body_utils_update .mess{
	padding: 10px 0 20px 0;
	font-size: 16px;
}
#body_utils_update .mess_success{
	color: #000;
	font-weight: bold;
}
#body_utils_update .dl_install{
	padding: 8px 0 0 10px;
}
#body_utils_update .dl_install LI{
	list-style: none;
	padding-bottom: 18px;
	line-height: 140%;
}
#body_utils_update .dl_install LI I{
	color: #888;
}
#body_utils_update .dl_install CODE{
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
}
/* @end */

/* @group Page Photos
------------------------------------------- */
#body_photos #div_albums{
	overflow: hidden;
}
#body_photos #div_albums A{
	text-decoration: none;	
}
#body_photos #div_albums A:hover .panel_album IMG,
#body_photos #div_albums A:focus .panel_album IMG,
#body_photos #div_albums A:active .panel_album IMG {
	opacity: 0.6;
}
#body_photos .panel_album{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-box-shadow : 3px 3px 10px rgba(0,0,0,0.4);
	-moz-box-shadow : 3px 3px 10px rgba(0,0,0,0.4);
	box-shadow : 3px 3px 10px rgba(0,0,0,0.4);
}
#body_photos .panel_album .panel-heading{
	text-align: center;
	white-space: nowrap;
	font-size: 13px;
	padding: 6px 8px;
}
#body_photos .panel_album .panel-heading .badge{
	font-size: 9.5px;
	margin-left: 5px;
	margin-top: 2px;
	opacity: 0.6;
	float: right;
}
#body_photos .panel_selected{
	border-color: #00F;
}

#body_photos .panel_selected .panel-heading {
	background-color: #DDf;
	border-color: #00F;
}

#body_photos .panel_album .panel-body-full{
	min-width: 200px;
	height: 150px;
	padding: 3px;
	text-align: center;
}
#body_photos .panel_album IMG{
	height: 100%;
	border: 1px solid #ccc;
}

#body_photos .pagination LI A{
	font-size: 24px;
	min-width: 50px;
	display: inline-block;
}
#body_photos .pagination LI.active A{
	background-color: #ddf;
	color: #333;
}
#body_photos .pagination .navpage I{
	font-size: 34px;
	opacity: 0.8;
}
/* @end */

/* @group Page PhotoFrame
------------------------------------------- */
#body_photoframe{
	background: #000;
}
#body_photoframe A#prevslide,
#body_photoframe A#nextslide{
	opacity: 0.15 !important;
	height: 100%;
	background-repeat: no-repeat ;
	top: auto;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: 160px;
}
#body_photoframe A#prevslide{
	left: 0;
	width: 63px;
	background-position: 10px 60%;
}

#body_photoframe A#nextslide{
	right: 0;
	width: 63px;
	background-position: 10px 60%;
}
#body_photoframe #prevslide:hover,
#body_photoframe #nextslide:hover{
	opacity: 0.8 !important;
}



#body_photoframe #albumName {
	overflow: hidden;
	float: left;
	color: #AAF;
	font: 400 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: #000 1px 1px 2px;
	margin: 0 0 0 10px;
	line-height: 42px;
}

#body_photoframe .photoDate{
	color: #777;
}
				
#body_photoframe ul#slide-list{
	float: right;
	position: relative;
	left: 0px;
	margin-right: 20px;
}

#body_photoframe ul#selectAlbum{ 
	padding:8px 0; 
	float:right; 
	margin-right: 20px;
}
#body_photoframe ul#selectAlbum SELECT{
	background-color: #000;
	color: #AAA;
	font-size: 15px;
	width: 160px;
}
#body_photoframe #pmd_goback{
	width: 70%;
	height: 100%;
	display: block;
	position: absolute;
	left: 15%;
	bottom: 160px;
}


/* @end */




/* @group Page Clock 
----------------------------------------------------------------- */
#body_clock{
	background: #000;
	color: #555;
}

@font-face {
	font-family: 'lcd';
	src:	url('../fonts/digital-7_mono.eot');
	src:	url('../fonts/digital-7_mono.woff') format('woff'), 
			url('../fonts/digital-7_mono.ttf') format('truetype'), 
			url('../fonts/digital-7_mono.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lcd2';
	src:	url('../fonts/jd_lcd_rounded.eot');
	src:	url('../fonts/jd_lcd_rounded.woff') format('woff'), 
			url('../fonts/jd_lcd_rounded.ttf') format('truetype'), 
			url('../fonts/jd_lcd_rounded.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
#div_clock_analog {
	text-align: center;
	margin-bottom: 20px;
}

#div_clock_digital {
	text-align: center;
	font-size: 170px;
	font-family: "lcd";
	color: cyan;
	line-height: 100%;
	padding-bottom: 30px;
}

#div_clock_date {
	margin-bottom: 20px;
	font-size: 45px;
	font-family: 'lcd2';
	color: cyan;
	line-height: 100%;
	text-transform: capitalize;
	text-align: center;
}

#div_clock_sensors{
	overflow: hidden;
}
#div_clock_sensors TABLE {
	float: right;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'lcd2';
}
#div_clock_sensors TH{
	text-align: right;
	padding-left: 5px;
	font-size: 34px;
	line-height: 100%;
}
#div_clock_sensors TD {
	padding-left: 20px;
	text-align: right;
	line-height: 80%;
	font-family: 'lcd2';
	font-size: 80px;
	color: cyan;
	white-space: nowrap;
}
#div_clock_sensors TD .unit{
	font-family: helvetica;
	font-size: 15px;
	color: #555;
	width: 26px;
	display: inline-block;
	text-align: left;
}

#div_clock_timer{
	text-align: center;
}
#div_clock_timer #timer_viewer{
	/*border: 1px solid rgba(255,255,255,0.1);*/
	margin-bottom: 20px;
}
#div_clock_timer .timer_view{
	white-space: nowrap;
	/*display: inline-block;*/
}
#div_clock_timer #timer_viewer .fa{
	margin-right: 10px;
	font-size: 17px;
	line-height: 100%;
	vertical-align: middle;
}
#div_clock_timer .digits{
	font-family: 'lcd2';
	font-size: 45px;
	line-height: 80%;
	vertical-align: middle;
}
#div_clock_timer .active .digits{
	color: orange;	
}
#div_clock_timer #view_timer{
	margin-left: 30px;
}
#div_clock_timer #timer_buttons{
	text-align: center;
}

.clock_cursor:hover{
	cursor: pointer;
}

@media (min-width: 1px){
	#div_clock_digital{font-size: 90px;}
	#div_clock_timer #view_timer{margin-left: 20px;}
	#div_clock_sensors table{float: none;}
}

/* really needs some tweeking */

@media (min-width: 480px){
	#div_clock_digital{font-size: 120px;}
}
@media (min-width: 767px){
	#div_clock_digital			{font-size: 120px;}
	#div_clock_sensors TH		{font-size: 22px;}
	#div_clock_sensors TD		{font-size: 40px;}
	#div_clock_sensors TD .unit	{font-size: 11px;}
	#div_clock_timer .digits	{font-size: 32px;}
	#div_clock_timer #view_timer{margin-left: 0px;}
}
@media (min-width: 992px){
	#div_clock_digital			{font-size: 150px;}
	#div_clock_sensors TH		{font-size: 30px;}
	#div_clock_sensors TD		{font-size: 70px;}
	#div_clock_sensors TD .unit	{font-size: 14px; width: 13px;}
	#div_clock_timer .digits	{font-size: 35px;}
	#div_clock_timer #view_timer{margin-left: 30px;}
}
@media (min-width: 1200px){
	#div_clock_digital			{font-size: 200px;}
	#div_clock_sensors TH		{font-size: 34px;}
	#div_clock_sensors TD		{font-size: 80px;}
	#div_clock_sensors TD .unit	{font-size: 16px;}
	#div_clock_timer .digits	{font-size: 40px;}
}




#modal_alarm{
	padding-top: 20%;
}
#modal_alarm .modal-dialog{
	margin: auto;
}
#modal_alarm .modal-content{
	background: #fff;
	border: 1px solid #000;
}
#modal_alarm .nav-pills{
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
#modal_alarm .nav-pills LI A{
	border-radius: 0 ;
	-moz-border-radius: 0 ;
	padding-top: 20px;
	padding-bottom: 20px;
}
#modal_alarm .modal_legend{
	padding-right: 10px;
	font-weight: bold;
}
#modal_alarm .modal-content INPUT{
	margin-left: 30px;
	margin-right: 5px;
	font-size: 30px;
	text-align: right;
}
#modal_alarm .modal-content .checkbox{
	padding-left: 0;
}
#modal_alarm .modal_buttons{
	margin-top: 40px;
}
#modal_alarm .modal_buttons button{
	margin: 0 5px 10px 5px;
}


/* @end */

/* @group Page Squeeze 
----------------------------------------------------------------- */
#body_squeeze .pmd_panel_sqz .panel-heading{
	overflow: hidden;
}
#body_squeeze .pmd_panel_sqz .player_right{
	text-align: right;
}
#body_squeeze .player_radio{
	display: inline-block;
	margin-top: 3px;
	padding: 1px 5px;
	border: 1px solid;
	border-color: rgba(0,0,0,0.09) rgba(255,255,255,0.1)  rgba(255,255,255,0.1)  rgba(0,0,0,0.09)  ;
	background: rgba(255,255,255,0.2);
	font-size: 9px;
	text-transform: uppercase;
}


#body_squeeze .pmd_panel_sqz .player_links{
	margin-left: 10px;
}
#body_squeeze .pmd_panel_sqz .player_artist{
	margin-right: 3px;
}
#body_squeeze .pmd_panel_sqz .player_title{
	margin-left: 3px;
	font-style: italic;
}
#body_squeeze .pmd_panel_sqz .player_duration{
	margin-left: 5px;
}

#body_squeeze .pmd_panel_sqz .player_links A{
	margin-left: 5px;
}

#body_squeeze .pmd_panel_sqz .but_player{
	display: inline-block;
	margin-right: 20px;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 8px;
}
#body_squeeze .pmd_panel_sqz .player_volume{
	display: inline-block;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}

#body_squeeze .pmd_panel_sqz.jsSelected{
	border: 1px solid rgba(0,0,0,0.3);
}



#body_squeeze #block_all_players .but_all{
	margin-bottom: 20px;
}
#body_squeeze .but_all:last-child{
	margin-bottom: 0;
}
#body_squeeze .but_all A{
	/*margin-bottom: 7px;*/
}

#body_squeeze .but_all A,
#body_squeeze .but_player A{
	line-height: 100%;
}
#body_squeeze .but_all A .mini,
#body_squeeze .but_player A .mini{
	font-size: 10px;
	text-decoration: none;
	font-family: arial;
}


#body_squeeze .but_all A:active,
#body_squeeze .but_player A:active{
	color: yellow;
	opacity: 0.8;
}
#body_squeeze .but_all .on,
#body_squeeze .but_player .on{
	color: orange;
}

#body_squeeze #block_sqz_current .panel-body-full {
	padding: 6px;
}

/* @end */


