/* @override 
	http://domo.lo.lo/static/skins/black/css/skin.css
	http://domodev.lo.lo/static/skins/black/css/skin.css
	http://domodev.dev.440net.net/static/skins/black/css/skin.css
*/

body{
	background: #444 url(../img/background.jpg) repeat;
}
#lay_footer{
	border-top: 1px solid rgba(250,250,250,0.17);
	background: #000;
}
.pmd_panel{
	border-color: #000;
	background-color: #222;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
}
.pmd_panel .panel-heading{
	text-shadow: -1px -1px 1px rgba(0,0,0,1) ;
	background: #333;
	color: #555;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,1);

background: rgb(43,45,48);
background: -moz-linear-gradient(top,  rgba(43,45,48,1) 0%, rgba(15,15,15,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,45,48,1)), color-stop(100%,rgba(15,15,15,1)));
background: -webkit-linear-gradient(top,  rgba(43,45,48,1) 0%,rgba(15,15,15,1) 100%);
background: -o-linear-gradient(top,  rgba(43,45,48,1) 0%,rgba(15,15,15,1) 100%);
background: -ms-linear-gradient(top,  rgba(43,45,48,1) 0%,rgba(15,15,15,1) 100%);
background: linear-gradient(to bottom,  rgba(43,45,48,1) 0%,rgba(15,15,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2d30', endColorstr='#0f0f0f',GradientType=0 );


}
.block_right .panel-body,
.block_right .panel-body-full{
}
.block_right .list-group .list-group-item{
	background: none;
	border-color: #000;
}

.pmd_panel .panel-body,
.pmd_panel .panel-body-full{
	border-top: 1px solid rgba(150,150,150,0.05);	
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}
#body_home .block_right .panel-body-full{
	border-top-color: rgba(150,150,150,0.2);		
}
#body_home .block_right TD{
	border-color: #222;
	color: #666;
}
#body_home .block_right .td_value{
	color: #888;
}

#body_home .block_right TABLE .td_value A{
	color: #888;
}
#body_home .block_right TABLE .td_value A:hover,
#body_home .block_right TABLE .td_value A:active{
	color: #eee;
	text-decoration: none;
}

#body_home .home_groups .sensor{
	color: #444;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.9) ;
}
#body_home .home_groups .sensor B{
	color: #555;
}
.div_devices_border{
	border: 1px solid #222;
	background-color: #111;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
}
.div_devices_border .table TD{
	border-color: #222;
}
.table_devices .td_type I,
.table_devices .td_id I{
	color: rgba(255,255,255,0.2);
}

#body_cameras .iframe_border{
	border-color: #000;
}




#body_squeeze .lcd_screen{
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.15);
	border-color: rgba(255,255,255,0.1) rgba(255,255,255,0.15) rgba(255,255,255,0.15) rgba(255,255,255,0.1);
	color: #00ace9;
}

#body_squeeze .player_radio{
	text-shadow: none;
	color: #000;
	background-color: rgba(255,255,255,0.09);
}
/*#body_squeeze .pmd_panel_sqz.jsSelected{
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgb(20,20,21);
}*/
#body_squeeze .pmd_panel_sqz  .panel-body{
	background-color: rgb(20,20,21);
}
#body_squeeze .player_head  .field_title B{
	color: rgba(255,255,255,0.5);
}
#body_squeeze .pmd_panel_sqz.jsSelected .panel-heading{
	font-weight: normal;
	background: #000 ;
}
#body_squeeze .cur_playlist{
	border: 1px solid rgba(0,0,0,0.1);
border-color: rgba(255,255,255,0.1) rgba(255,255,255,0.15) rgba(255,255,255,0.15) rgba(255,255,255,0.1);
	background: rgba(0,0,0,0.5);
}
#body_squeeze .cur_playlist .pl_song{
	padding: 5px 5px;
	border-color:  rgba(255,255,255,0.1);
	color: #00ace9;
}
#body_squeeze .pmd_panel_sqz .but_player_playlist SELECT{
	background-color: rgba(0,0,0,0.9);
	color: rgba(255,255,255,0.8);
	border-color: rgba(0,0,0,1);
}
#body_squeeze .row_progression .progress_border{
	border-color: rgba(255,255,255,0.1) rgba(255,255,255,0.15) rgba(255,255,255,0.15) rgba(255,255,255,0.1);
	background-color: rgba(0,0,0,0.9);
}
#body_squeeze .row_progression .progress_inner{
	background-color: rgba(255,255,255,0.25);
}
#body_squeeze .row_progression .progress_head{
	/*margin-top: -3px;*/
	background-color: rgba(200,200,255, 0.9);
	/*border-color: rgba(200,200,255,0.9) transparent transparent transparent;*/

}


